.city-card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 80%;
  text-align: left;
}
.city-card-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.city-card-wrap-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}
