.FullAccommodationComponentWrap {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.FullAccommodationComponentHeader {
  width: 100%;
}
.FullAccommodationComponentHeaderImage {
  width: 100%;
  height: 527px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.FullAccommodationComponentInfo {
  display: flex;
  flex-direction: row;
  min-height: 10px;
  justify-content: space-between;
}
.FullAccommodationComponentInfoText {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;

}
.FullAccommodationComponentInfoToast {
  width: 25%;
}

.FullAccommodationComponentInfoTextHeader {
  display: flex;
  flex-direction: column;
}
.FullAccommodationComponentInfoTextHeaderTop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.FullAccommodationComponentInfoTextHeaderBot h4 {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: gray;
  top: 1rem;
}

.FullAccommodationComponentInfoToast {
    margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 24px;
  gap: 44px;
  width: 297px;
  height: 342px;
  row-gap: 1rem;

  /* Mint/Mint-50 */

  background: #f2fdfc;
  /* Shadow_main */

  box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
  border-radius: 10px;
}

.FullAccommodationComponentInfoToast button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 42px;
    
    /* Mint/Mint-400 */
    
    background: #40E0D0;
    /* Elevation/2 */
    
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
}

.FullAccommodationComponentInfoToast div *{
padding: 5px;
}