.plac-card-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  width: 80%;
  text-align: left;
}
.plac-card-wrap-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
  row-gap: 15px;
}
.plac-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}
.plac-card-header h2 {
  padding: 5px;
}
