.navigation-bar-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
}

.navigation-bar-div div {
  padding-left: 1rem;
  padding-right: 2rem;
}

.navigation-bar-routes {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}
